footer{
    padding-left: 35px;
}
.social-media{
    margin-bottom: 10px;
}
.copyright_text{
    font-size: 13px;
    color: grey;
    margin-left: 3px;
}
@media only screen and (max-width: 600px) {
    footer {
     padding-left: 20px;
    }
  }


