.searchbox{
    background-color: 
    white;
    position: absolute;
}


.image-wrapper{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    position: relative;
    padding: 10px 10px 6px 30px;
}

.image-wrapper::-webkit-scrollbar{
    width: 0;
}

.image-wrapper img{
    width: 130px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 3px #D81F26;

}

li{
    list-style-type: none;
    margin: 5px;
    padding: 5px 0px;
}
.image-wrapper img:hover, .image-container img:hover
{
  transform: scale(1.20);
  transition: 0.4s;
}
.image-container{
   display: flex;
    flex-wrap: wrap;
    margin: 60px 8px;
}
.image-container img{
    width: 130px;
    flex-direction: row;
    margin: 10px 12px;
    border-radius: 10px;

}

.search-result{
    margin-top: 80px;
}
.search-result__query{
    margin-left: 38px;
    color: grey;
}
.query{
    color: white;
}
.not-exist{
    padding: 30px 40px;
}