.searchbox{
    background-color: 
    white;
    position: absolute;
}


.image-wrapper{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    position: relative;
    padding: 10px 10px 0 38px;

}
.image-wrapper::-webkit-scrollbar{
    width: 0;
   
}
 .image-wrapper img{
    width: 130px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
}
li{
    list-style-type: none;
    margin: 5px;
    padding: 5px 0px;
}
.movie-card:hover
{
  transform: scale(1.20);
  transition: 0.4s;
}
