.searchbox{
    background-color: 
    white;
    position: absolute;
}

input{
    width: 152px;
}
.image-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
 img{
    width: 180px;
    margin: 5px;
}
li{
    list-style-type: none;
    margin: 5px;
}
img:hover
{
  transform: scale(1.20);
  transition: 0.6s;

}