.movie-card{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}



.favorite-button:hover + img{
    transform: scale(1.20);
  transition: 0.4s;
  opacity: 0.5;
}

.favorite-button{
    position: absolute;
    text-align: center;
    color: red;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.452);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    padding: 3px;
    border: 0;
    top: 85%;
    left: 0%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;

}

.movie-card:hover >  .favorite-button{
    display: block;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.733);
    transform: scale(1.2);
    visibility: visible;
    opacity: 1;

}
