.cover-photo{
    background-image: url("https://occ-0-3898-360.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABQIWSt5ec916vZ4MmHLoJy-N20rQyZUl2eSHhPnmUM74-6NymKCpeFXJgAuUqtdpNRg2OHa3_Idggszxbg-ZTLquDdUG.webp?r=575");
    height: 480px;
    background-repeat: no-repeat; 
    background-size: cover; 
    margin-top: 60px;
    opacity: 0.8;
    background-position: inherit;
    position: relative;
}
.now-playing{
    padding: 5px 42px;
    margin-top: 10px;
}
.movie-play-info{
    display: flex;
    position: absolute;
    top: 70%;
    left: 3.2%;
}
.movie-titile{
    position: absolute;
    top: 35%;
    left: 3.6%;
}
.movie-titile img{
    width: 300px;
}
.play{
    display: flex;
    background-color: white;
    padding: 10px 25px;
    color: black;
    border-radius: 4px ;
    cursor: pointer;
}
.play:hover{
    background-color: rgba(255,255,255,0.75);
    transition: 0.5s;

}
.more-info{
    background-color: rgba(109,109,110,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px ;
    padding: 10px 20px;
    margin-left: 15px;
    cursor: pointer;
}
.more-info:hover{
    background-color: rgba(109,109,110,0.6);
    transition: 0.5s;

}
@media only screen and (max-width: 600px) {
    .cover-photo {
        background-position: center;
    }
  }