
.cover-photo{
    background-image: url("https://wallpaperset.com/w/full/1/2/2/241466.jpg");
    height: 530px;
    background-repeat: no-repeat; 
    background-size: cover; 
    opacity: 0.9;
    margin-bottom: 30px;
    position: relative;
}

.now-playing{
    padding: 2px 45px;
    margin-top: 5px;
}

.now-playing p{
    font-size: 15px;
    font-weight: 600;
}


.movie-play-info{
    display: flex;
    position: absolute;
    top: 76%;
    padding: 10px 43px;
}
.movie-titile{
    position: absolute;
    top: 28%;
    padding: 10px 43px;
}
.movie-titile img{
    width: 300px;
}
.play{
    display: flex;
    background-color: white;
    padding: 10px 25px;
    color: black;
    border-radius: 4px ;
    cursor: pointer;
    align-items: center;
}
.play:hover{
    background-color: rgba(255,255,255,0.75);
    transition: 0.5s;

}
.more-info{
    background-color: rgba(109,109,110,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px ;
    padding: 10px 20px;
    margin-left: 15px;
    cursor: pointer;
}
.movie-description-wrapper{
    max-width: 300px;
}
.movie-description-wrapper p{
    margin-top: 10px;
    line-height: 26px;
}

.more-info:hover{
    background-color: rgba(109,109,110,0.6);
    transition: 0.5s;

}
@media only screen and (max-width: 600px) {
    .image-wrapper{
        padding: 10px 10px 0 12px;
    }
    .now-playing{
        padding: 2px 22px;
    }
    .movie-titile, .movie-play-info{
        padding: 10px 14px;
    }
}