.nav {
    background-color: black;
    position: fixed; 
    width: 100%;
	top: 0px;
	z-index: 1000;
}
header{
    width: 100%;
}
.nav-items {
    width: 100%;
    display: flex;
    color: white;
    font-size: 14px;
    justify-content: space-between;
    padding: 13px 40px;
}
.nav-logo {
    width: 100px;
    height: auto;
    margin: 0;
    padding: 0;
}
.nav-items-left,
.nav-items-right {
    display: flex;
    align-items: center;


}
.nav-item__home{
    margin-left: 30px;
}
.nav-item__latest, .nav-item__myList{
    margin-left: 10px;
}
a:hover{
    color: rgba(255,255,255,0.75);
    transition: 0.1s;

}
.nav-search{
    display: flex;
    background-color: #333333;
    flex-direction: row;
    height: 40px;
    align-items: center;
    color: #999;
    border-radius: 2px;
}
input{
    background-color: #333333;
    border: none;
    width: 270px;
    font-size: 16px;
    border-radius: 2px;
}
.nav-search>div{
    padding-left: 10px;
}
.search-icon{
    padding-top: 8px;
}
.nav-option{
    display: flex;
}
.nav-option>div{
    margin: 0 4px;
}
input:focus{
    outline: none;
  
}
input{
    background-color: #333333;
    height: -webkit-fill-available;
    border: none;
    width: 150px;
    font-size: 16px;
}

.nav-search:hover, .search-input:hover{
    background-color: white;
}
.nav-logo img{
    max-width: 100%;
}
.nav-search{
    margin-right: 15px;
}
