.nav {
    position: fixed; 
    width: 100%;
	top: 0px;
    z-index: 1000;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
header{
    width: 100%;
}
.nav__black{
    background-color: black;
}
.nav-items {
    width: 100%;
    display: flex;
    color: white;
    font-size: 14px;
    justify-content: space-between;
    padding: 13px 40px;
}
.nav-logo {
    width: 100px;
    height: auto;
    margin: 0;
    padding: 0;
}
.nav-items-left,
.nav-items-right {
    display: flex;
    align-items: center;


}
.nav-item__home{
    margin-left: 30px;
}
.nav-item__latest, .nav-item__myList{
    margin-left: 10px;
}
a:hover{
    color: rgba(255,255,255,0.75);
    transition: 0.1s;

}
.nav-logo img{
    max-width: 100%;
}

.nav-search{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 1px solid white;
    margin-right: 15px;
}
input{
    background-color: black;
    border: none;
    outline: none;
    padding: 6px;
    color: white;
}
.nav-search__icon{
    margin-top: 4px;
    padding-left: 7px;
}
@media only screen and (max-width: 600px) {
    .nav-item__home, .nav-item__latest{
        display: none;
    }
    input{
        padding: 0;
    }
    .nav-items{
        padding: 13px 13px;
    }
}