@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

a{
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 0;
}
